<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="Static/header.css">
    <link rel="stylesheet" href="Static/registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav_bar">
        <div class="comp_name">
            <button class="company_name" id="theme-switch">
                Bus Karro
            </button>
        </div>
        <div class="nav_buttons">
            <p class="search_button">
                Contact
            </p>
            <a href="signin.html" class="Links">
            <button class="sign_in_button">
                Sign in
            </button>
            </a>
            <a href="registration.html" class="Links">
            <button class="sign_in_button">
                Register
            </button>
            </a>
        </div>
    </div>

    <div class="title_con">
        <h1 class="title">
            Registration
        </h1>
    </div>

    <div id="customAlert" class="alert-box hidden">
        <div class="alert-content">
            <p id="alertMessage"></p>
            <!-- <button id="alertClose" class="alert-close">OK</button> -->
        </div>
    </div>

    
    <div class="data_con">
        <div class="why_con">
            <div class="namemail">
                <p class="user">Enter Name</p>
                <input type="text" class="username" id="myText" placeholder="Username" required>
                <p class="user">Enter Email</p>
                <input type="email" class="username" id="myText" placeholder="Email" required>
                <div class="buttons">
                    <button class="back" id="Back">Back</button>
                    <button class="next" id="Next">Next</button>
                </div>
            </div>
    
            <div class="passs">
                <p class="user">Enter Password</p>
                <input type="password" class="Password" id="password" placeholder="Password" required>
                <p class="user">Confirm Password</p>
                <input type="password" class="Password" id="confirmPassword" placeholder="Confirm Password" required>
                <div class="show-password">
                    <input type="checkbox" id="showPasswordToggle">
                    <label for="showPasswordToggle">Show Password</label>
                </div>
                <div class="buttons">
                    <button class="back" id="Back">Back</button>
                    <button class="next" id="Next">Next</button>
                </div>
            </div>
            
    
    
    
    
    
    
    
    
    
    
    
        </div>

    </div>


</body>
<script src="Static/showpass.js"></script>
<script src="Static/register.js"></script>
<script src="Static/darkmode.js"></script>
</html>
